* 
{
    font-family: Josefin Sans;
}

body
{
    background-color: hsl(235, 21%, 11%);
    background-image: url("./images/bg-desktop-dark.jpg");
    background-size: 100vw 350px;
    background-repeat: no-repeat;
}

#name-container
{
    display: flex;
    padding-top: 100px;
    padding-bottom: 60px;
    justify-content: space-evenly;
    color: white;
}

#name-container h1
{
    margin: 0;
    font-size: 50px;
}

#display-mode:hover
{
    opacity: 0.5;
}

#todo-list
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    width: 540px;
    font-size: 18px;
}

#current-input
{
    flex: 1;
    border-radius: 5px;
    border: 0;
    /* height: 60px; */
    background-color: hsl(235, 24%, 19%);
    padding-left: 60px;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#checkbox
{
    position: relative;
    left: 600px;
    top: 15px;
}

#first-circle-box, .circle-box
{
    appearance: none;
    background-color: hsl(235, 24%, 19%);
    margin: 0;
    width: 2em;
    height: 2em;
    border: 0.08em solid gray;
    border-radius: 50px;
    position: relative;
    left: 20px;
    top: 15px;
}

.circle-box
{
    cursor: pointer;
}

.circle-box:hover
{
    border-color: hsl(280, 87%, 65%);
}

.icon-check
{
    position: relative;
    top: 23px;
    left: 2px;
    opacity: 0;
}

span
{
    width: 0;
}

#main-list
{
    display: grid;
    grid-template-columns: 540px;
    justify-content: center;
}

#main-list >ul
{
    padding: 0;
    margin: 0;
}

#main-list >ul>li
{    
    background-color: hsl(235, 24%, 19%);
    border-bottom: 0.5px solid gray;
    list-style-type: none;
}

.items
{
    color: white;
    font-size: 18px;
    display: flex;
}

.text-and-cross
{
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.icon-cross
{
    cursor: pointer;
}

.icon-cross:hover
{
    opacity: 0.5;
}

#main-list #bottom
{
    display: flex;
    justify-content: space-around;
}

#main-list #bottom p 
{
    color: hsl(236, 9%, 61%);
    margin-top: 22px;
    font-size: 15px;
}

#main-list #bottom p:hover
{
    opacity: 0.5;
    color: hsl(220, 98%, 61%);
    cursor: pointer;
}

#main-list #bottom #clear:hover
{
    color: red;
}

#list li:first-of-type
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#list li:last-of-type
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 425px) {
    #main-list
    {
        grid-template-columns: 90vw;
    }

    #todo-list
    {
        width: 90vw;
    }

    #main-list #bottom p, .items, #current-input
    {
        font-size: 10px;
    }

    #first-circle-box, .circle-box
    {
        width: 1.5em;
        height: 1.5em;
    }

    .text-and-cross
    {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #current-input
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}